<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css" />
    <title>Login or Create Account</title>
</head>
<body>
    <h1>Login</h1>
    <form id="login" method="post">
        <input type="text" placeholder="username" id="loginUsername" required>
        <input type="password" placeholder="password" id="loginPassword" required>
        <input type="submit" value="Login">
    </form>
    <h1>Register</h1>
    <form id="register" method="post">
        <input type="text" placeholder="username" id="registerUsername" required>
        <input type="password" placeholder="password" id="registerPassword" required>
        <input type="submit" value="Register Account">
    </form>
    <script src="login.js" type="module"></script>
</body>
</html>